[Info]

network: W
site_abbr: VFFR
%%PI: CPE2

[Processor]

version:0.0
verbosity: 0

[Input]
# Directory that receives data from site
#raw_data_directory: None
#metadata_db_url: None

#SEQ20201016T141413
sequence_id: SEQ20200821T154756
Lat: 43.69886
Lon: 7.30720

[Output]
# Directory to write output data archive to
archive_directory:./out/
write_l1a: True
write_l1b: True

# Anomoly
anomoly_db_url:

[Calibration]
hypstar_cal_number:220241
cal_date:200728
measurement_function_calibrate: StandardMeasurementFunction

[Interpolate]
measurement_function_interpolate: WaterNetworkInterpolationLinear

[SurfaceReflectance]
measurement_function_surface_reflectance = WaterNetworkProtocol