[Job]
job_name = run_20201028T150017
job_working_directory = C:\Users\pdv\.hypernets\tmp

#SEQ20201016T141413#sequence_id: SEQ20201016T142212

sequence_id: SEQ_kaspars_test

Lat: 43.69886
Lon: 7.30720
site_abbr: test

[Input]
raw_data_directory = C:\Users\pdv\PycharmProjects\hypernets_processor\hypernets_processor\hypernets_processor\data_io\tests\reader\SEQ20200821T154756

[Log]
log_path = test.log
verbose = False
quiet = False

[Processor]
network = l

[Output]
product_format = netcdf
write_l0 = False
write_l1a = False
write_l1b = True
write_l1c = False
write_l2a = True
archive_directory = C:\Users\pdv\PycharmProjects\hypernets_processor\hypernets_processor\test_hypernets


[Plotting]
plotting_directory: ./out/plots/
plotting_format: png
plot_l1a: True
plot_l1b: True
plot_l2a: True

[Calibration]
calibration_directory: c:\users\pdv\pycharmprojects\hypernets_processor\examples\calibration_files
hypstar_cal_number:220241
measurement_function_calibrate: StandardMeasurementFunction

[Combine VIS-SWIR]
measurement_function_combine: StepCombine
wavelength_switch: 1044

[Interpolate]
measurement_function_interpolate_time: InterpolationTimeLinear
measurement_function_interpolate_wav: InterpolationWavLinear

[SurfaceReflectance]
measurement_function_surface_reflectance = WaterNetworkProtocol
