[Job]
job_name = SEQ20201117T150010
job_working_directory = home/cgoyens/.hypernets/tmp

#SEQ20201117T144353
#SEQ20201117T145040
#SEQ20201117T150010

sequence_id: SEQ20201117T150010
Lat: 43.69886
Lon: 7.30720
site_abbr: VRFR

[Input]
raw_data_directory =/home/cgoyens/OneDrive/BackUpThinkpadClem/Projects/HYPERNETS/NetworkDesign_D52/DataProcChain/Test_sequences/data_17112020/SEQ20201117T150010
[Log]
log_path = test.log
verbose = True
quiet = False

[Processor]
network = w

[Output]
product_format = netcdf
write_l0 = True
write_l1a = True
write_l1b = True
write_l1c = True
write_l2a = True
archive_directory = /home/cgoyens/OneDrive/BackUpThinkpadClem/Projects/HYPERNETS/NetworkDesign_D52/DataProcChain/Test_sequences/data_17112020/out/VRFR/

[Plotting]
plotting_directory: /home/cgoyens/OneDrive/BackUpThinkpadClem/Projects/HYPERNETS/NetworkDesign_D52/DataProcChain/Test_sequences/data_17112020/out/plots/
plotting_format: png
plot_l1a: True
plot_l1b: True
plot_l2a: True

[Calibration]
calibration_directory: /home/cgoyens/OneDrive/BackUpThinkpadClem/Projects/HYPERNETS/NetworkDesign_D52/DataProcChain/hypernets_processor/calibration_files/HYPSTAR_cal
hypstar_cal_number:220241
cal_date:200728
measurement_function_calibrate: StandardMeasurementFunction

[Combine VIS-SWIR]
measurement_function_combine: StepCombine
wavelength_switch: 1044

[Interpolate]
measurement_function_interpolate: WaterNetworkInterpolationLinear

[SurfaceReflectance]
measurement_function_surface_reflectance = WaterNetworkProtocol