[Job]
job_name = SEQ20210306T110113

sequence_id: SEQ20210306T110113


[Input]
raw_data_directory =/home/cgoyens/HYPSTAR/BSBE/03/SEQ20210306T110113
[Log]
log_path = test.log
verbose = True
quiet = False

[Processor]
network = w

[Output]
product_format = netcdf
write_l0 = True
write_l1a = True
write_l1b = True
write_l1c = True
write_l2a = True

