[Job]
job_name = run_SEQ20201016T141413
job_working_directory = home/cgoyens/.hypernets/tmp

#SEQ20201016T141413
# SEQ20201105T153301
sequence_id: SEQ20201016T141413
Lat: 43.69886
Lon: 7.30720
site_abbr: test

[Input]
raw_data_directory = /home/cgoyens/OneDrive/BackUpThinkpadClem/Projects/HYPERNETS/NetworkDesign_D52/DataProcChain/hypernets_processor/hypernets_processor/data_io/tests/reader/SEQ20201016T141413
[Log]
log_path = test.log
verbose = True
quiet = False

[Processor]
network = w

[Output]
product_format = netcdf
write_l0 = True
write_l1a = True
write_l1b = True
write_l1c = True
write_l2a = True
archive_directory = ./out/


[Plotting]
plotting_directory: ./out/plots/
plotting_format: png
plot_l1a: True
plot_l1b: True
plot_l2a: True

[Calibration]
calibration_directory: /home/cgoyens/OneDrive/BackUpThinkpadClem/Projects/HYPERNETS/NetworkDesign_D52/DataProcChain/hypernets_processor/calibration_files/HYPSTAR_cal
hypstar_cal_number:220241
cal_date:200728
measurement_function_calibrate: StandardMeasurementFunction

[Combine VIS-SWIR]
measurement_function_combine: StepCombine
wavelength_switch: 1044

[Interpolate]
measurement_function_interpolate: WaterNetworkInterpolationLinear

[SurfaceReflectance]
measurement_function_surface_reflectance = WaterNetworkProtocol
