[GHNA specific]
site_id = GHNA
use_config_latlon = True
lat=-23.60153
lon= 15.12589
azimuth_switch=
angle2use = pt_ask

[Processor]
archive_directory =
network = l
version = 2.0
processor_working_directory =
mcsteps = 100
max_level = L2A
bad_wavelenth_ranges = 757.5-767.5, 1350-1390
verbose =

[metadata]
creator_name = Pieter De Vis
creator_email = pieter.de.vis@npl.co.uk
responsible_party = National Physical Laboratory (NPL), UK

[quality]
l0_threshold=64000
l0_discontinuity=10000
bad_pointing_threshold_zenith=3
bad_pointing_threshold_azimuth=3
irradiance_zenith_treshold=2
n_valid_irr=3
n_valid_rad=3
n_valid_dark=3
irr_variability_percent=10
clear_sky_check=True
vnir_swir_discontinuity_percent=25

[Databases]
metadata_db_url =
archive_db_url =
anomaly_db_url =

[Calibration]
calibration_directory =
hypstar_cal_number =
measurement_function_calibrate = StandardMeasurementFunction

[ModelName]
model = series_rep,series_id,vaa,azimuth_ref,vza,mode,action,it,scan_total,series_time

[Interpolate]
measurement_function_interpolate_time = InterpolationTimeLinearCoscorrected
measurement_function_interpolate_wav = InterpolationWavLinear

[SurfaceReflectance]
measurement_function_surface_reflectance = LandNetworkProtocol

[Output]
product_format = netcdf
remove_vars_strings =
remove_vars_strings_l2 =
uncertainty_l1a = False
write_l0a = True
write_l0b = True
write_l1a = True
write_l1b = True
write_l1c = True
write_l2a = True

[plotting]
plotting_format = png
plot_fontsize = 14
plot_legendfontsize = 10
plot_uncertainty = True
plot_correlation = True
plot_l0 = False
plot_l1a = False
plot_l1a_diff = False
plot_l1b = True
plot_clear_sky_check = True
plot_l1c = True
plot_l2a = True
plot_polar_wav = 900
plot_polar_min = 0.35
plot_polar_max = 0.42

[CombineSWIR]
combine_lim_wav = 1000
measurement_function_combine = StepCombine

