[Processor]
archive_directory = 
network = w
version = 0.1
processor_working_directory =
mcsteps: 100

[Databases]
metadata_db_url =
anomoly_db_url = 
archive_db_url =
anomaly_db_url =

[Calibration]
hypstar_cal_number = 220241
measurement_function_calibrate = StandardMeasurementFunction

[ModelName]
model = series_rep,series_id,vaa,azimuth_ref,vza,mode,action,it,scan_total,series_time

[Interpolate]
measurement_function_interpolate_time = InterpolationTimeLinear
measurement_function_interpolate_wav = InterpolationWavLinear
measurement_function_interpolate = WaterNetworkInterpolationLinear

[SurfaceReflectance]
measurement_function_surface_reflectance = WaterNetworkProtocol

[WaterStandardProtocol]
verbosity = 3
protocol = water_std
n_upwelling_rad = 6
n_upwelling_irr = 3
n_downwelling_rad = 3

[Fresnelcorrection]
fresnel_option = Ruddick2006
rhof_default = 0.0256
wind_ancillary = False
wind_default = 2.0
wind_file = False
wind_max_time_diff = 10
met_dir = ./data/MET
rhymer_data_dir = ./rhymer/data
rholut = rhoTable_AO1999

[VariabilityCheck]
diff_test = True
diff_wave = 550
diff_threshold = 0.25
ed_cos_sza = True

[SimSpecSettings]
similarity_test = False
similarity_correct = True
similarity_wr = 670
similarity_wp = 0.05
similarity_w1 = 720
similarity_w2 = 780
similarity_alpha = 2.35

[WaterFinalMeasurementTest]
test_measurement = True
test_sun_wave = 750
test_sun_threshold = 0.05
test_var_wave = 780
test_var_threshold = 0.10

[Output]
write_l0 = True
write_l1a = True
write_l1b = True
write_l1c = True
write_l1d = True
write_l2a = True
plot_uncertainty = False
plot_correlation = False
plot_l0 = False
plot_l1a = False
plot_l1a_diff = False
plot_l1b = False
plot_l1c = False
plot_l2a = False
product_format = netcdf
plotting_format = png
archive_directory =

