[Processor]

version:

[Input]

metadata_db_url:

[Output]

# Directory to write output data archive to
archive_directory:


[WaterStandardProtocol]
wind_ancillary: None
wind_default: 2.0
fresnel_option: 'Mobley'

## Fresnel correction
## options Mobley - version M1999 (M2015 not tested yet)
##         Ruddick2006
mobley_version: 'M1999'
rhof_default: 0.0256
wind_file: None
wind_max_time_diff: 10
rhymer_data_dir: "~/OneDrive/BackUpThinkpadClem/Projects/HYPERNETS/NetworkDesign_D52/DataProcChain/hypernets_processor/hypernets_processor/rhymer"

## Processing settings
## scan variability check
scan_diff_test: True
scan_diff_wave: 550
scan_diff_threshold: 0.25
## scale ed with cos sun zenith for variability check
ed_cos_sza: True

## SimSpec settings
similarity_test: False
similarity_correct: True
similarity_wr: 670
similarity_wp: 0.05
similarity_w1: 720
similarity_w2: 780
similarity_alpha: 2.35

## final measurement test
test_measurement=True
test_sun_wave=750
test_sun_threshold=0.05
test_var_wave=780
test_var_threshold=0.10
