[Processor]
archive_directory =
network =
version =
processor_working_directory =
mcsteps =

[Databases]
metadata_db_url =
anomoly_db_url =
archive_db_url =
anomaly_db_url =

[Calibration]
hypstar_cal_number =
measurement_function_calibrate =

[ModelName]
model = series_rep,series_id,vaa,azimuth_ref,vza,mode,action,it,scan_total,series_time

[Interpolate]
measurement_function_interpolate_time =
measurement_function_interpolate_wav =
measurement_function_interpolate =

[SurfaceReflectance]
measurement_function_surface_reflectance =
