[Processor]
version: 1.1
network: l
mcsteps: 200
max_level: L2A

[Calibration]
hypstar_cal_number:220241
measurement_function_calibrate: StandardMeasurementFunction

[CombineSWIR]
combine_lim_wav: 1000
measurement_function_combine: StepCombine

[Interpolate]
measurement_function_interpolate_time: InterpolationTimeLinear
measurement_function_interpolate_wav: InterpolationWavLinear
measurement_function_interpolate: LandNetworkInterpolationIrradianceLinear

[SurfaceReflectance]
measurement_function_surface_reflectance: LandNetworkProtocol

[ModelName]
model = series_rep,series_id,vaa,azimuth_ref,vza,mode,action,it,scan_total,series_time

[Output]
product_format: netcdf
write_l0: False
write_l1a: True
write_l1b: True
write_l1c: True
write_l2a: True

plotting_format: png
plot_l0: False
plot_l1a: True
plot_l1a_diff: True
plot_l1b: True
plot_l1c: False
plot_l2a: True
plot_uncertainty=True
plot_correlation=False
