[Processor]
version: 0.1
network: l

[Wavelength_cal]
mapping_vis_a: +1.6499700E+02
mapping_vis_b: +4.3321091E-01
mapping_vis_c: +3.7714483E-05
mapping_vis_d: +6.6769395E-10
mapping_vis_e: -4.0577247E-12
mapping_vis_f: +0.0000000E+00

[Calibration]
calibration_directory: c:\users\pdv\pycharmprojects\hypernets_processor\calibration_files\HYPSTAR_cal\
hypstar_cal_number:220241
measurement_function_calibrate: StandardMeasurementFunction

[CombineSWIR]
combine_lim_wav: 1000
measurement_function_combine: StepCombine


[Interpolate]
measurement_function_interpolate: LandNetworkInterpolationIrradianceLinear

[SurfaceReflectance]
measurement_function_surface_reflectance: LandNetworkProtocol

[Output]
product_format: netcdf
write_l0: False
write_l1a: True
write_l1b: True
write_l1c: True
write_l2a: True

plotting_format: png
plot_l0: False
plot_l1a: True
plot_l1a_diff: True
plot_l1b: True
plot_l1c: True
plot_l2a: True
