[sitespecific]
siteid=VEIT
offset_pan=0
offset_tilt=
azimuth_switch=
latitude =
longitude =

[Processor]
version: 2.0
network: w
mcsteps: 100
max_level: L2A
uncertainty_l1a=True
bad_wavelenth_ranges = 757.5-767.5, 1350-1390
verbose =

[metadata]
comment=The use of NIR Similarity correction of the computation of the reflectance is preferred.
creator_name=REMSEM RBINS Clemence Goyens
creator_email=cgoyens@naturalsciences.be
responsible_party=RBINS REMSEM (Belgium)

[quality]
l0_threshold=64000
l0_discontinuity=10000
bad_pointing_threshold_zenith=1
bad_pointing_threshold_azimuth=3
n_valid_irr=3
n_valid_dark=3
irr_variability_percent=10
ld_variability_percent=10
diff_wave=550
diff_threshold=0.25

[Databases]
metadata_db_url =
archive_db_url =
anomaly_db_url =

[Calibration]
hypstar_cal_number:120241
measurement_function_calibrate: StandardMeasurementFunction

[Interpolate]
measurement_function_interpolate_time: InterpolationTimeLinear
measurement_function_interpolate_wav: InterpolationWavLinear
measurement_function_interpolate: WaterNetworkInterpolationLinear

[SurfaceReflectance]
measurement_function_surface_reflectance: WaterNetworkProtocol
measurement_function_water_leaving_radiance = WaterNetworkProtocolWaterLeavingRadiance

[ModelName]
model = series_rep,series_id,vaa,azimuth_ref,vza,mode,action,it,scan_total,series_time

[WaterStandardProtocol]
verbosity: 3
protocol: water_std
n_upwelling_rad: 3
n_downwelling_rad: 3


[air_water_inter_correction]
rhof_option: Mobley1999
rhof_default: 0.0256
wind_ancillary: GDAS
wind_default: 2.0
wind_max_time_diff: 10
met_dir=/home/cgoyens/waterhypernet/Ancillary/GDAS/
thredds_url=https://thredds.rda.ucar.edu/thredds
rhymer_data_dir:./rhymer/data
rholut:rhoTable_AO1999

[VariabilityCheck]
## scale ed with cos sun zenith for variability check
ed_cos_sza: True
no_go_zone:/home/cgoyens/HYPSTAR/Ancillary/nogo_zone/azimuth_range.config

[SimSpecSettings]
similarity_test: False
similarity_correct: True
similarity_wr: 670
similarity_wp: 0.05
similarity_w1: 780
similarity_w2: 870
similarity_alpha: 0.523

[WaterFinalMeasurementTest]
test_measurement: True
test_sun_wave: 750
test_sun_threshold: 0.05
test_var_wave: 780
test_var_threshold: 0.10

[Output]
product_format = netcdf
remove_vars_strings:
remove_vars_strings_L2:
write_l0a: True
write_l0b: False
write_l1a: True
write_l1b: True
write_l1c: True
write_l2a: True

[plotting]
plotting_format = png
plot_fontsize = 14
plot_legendfontsize = 10
plot_l0: False
plot_l1a: True
plot_l1a_diff: False
plot_l1b: False
plot_l1c: True
plot_l2a: True
plot_uncertainty: True
plot_correlation: False
clear_sky_check=True
